header{ background-color: white; padding: 40px 0px 40px 0px; margin: 0px }
body{ background-color: #005500; }
section{ padding: 20px 0px 0px 0px; }

.star, .lightbulb, .ornament, .star-dead, .lightbulb-dead{ border: 7px solid #00000000; border-radius: 15px; }
.star:hover, .lightbulb:hover{ border: 7px solid #ffbb00; }
.star-dead:hover, .lightbulb-dead:hover, .ornament:hover{ border: 7px solid #007700; }

.star, .star-dead{ width: 120px; padding: 7px; }
.lightbulb, .lightbulb-dead, .ornament{ width: 80px; }

.star-small, .lightbulb-small, .ornament-small{ width: 80px; margin: 15px; }
.star-image, .lightbulb-image, .ornament-image{ height: 80px; }
.image-not-selected{ filter: brightness(50%); }
.image-selected{ filter: brightness(100%); }

div#game-board{
	display: inline-block;
	text-align: left;
	position: relative;
}

.full-window{
	z-index: 1217;
	position: absolute; top: 0px; left: 0px;
	height: 100vh; width: 100vw;
}
.fill{
	z-index: 1217121;
	position: sticky; top: 0px; left: 0px;
	height: 100vh; width: 100vw;
	background: #00000099; backdrop-filter: blur(4px);
}
.alert-window{
	z-index: 7121217;
	position: sticky; top: 20vh; left: 25vw;
	height: 60vh; width: calc(50vw - 40px);
	background: #000000; border-radius: 20px;
	padding: 20px;
	color: white;
	overflow: auto;
}

#game-info{
	color: white;
	font-size: 1.2em;
	display: flex; justify-content: center; align-items: center;
	margin: 0px 0px 20px 0px
}

#deck-window{ color: white; }
.deck{
	border: 1px solid black;
	background-color: #006600;
	display: block;
	height: 80px; padding: 10px;
	overflow-y: hidden; overflow-x: auto; white-space: nowrap;
	margin: 0px 5vw;
}

button.possible{
	background-color: #00bb00; border: 2px outset #009900; color: white;
	height: 50px; width: 100px; font-weight: bold;
}
button.impossible{
	background-color: #007700; border: 2px outset #005500; color: gray;
	height: 50px; width: 100px; font-weight: bold;
}
button.other{
	background-color: #bbbbbb; border: 2px outset #999999;
	height: 50px; width: 100px; font-weight: bold;
}

th{ width: 25%; font-weight: bolder; }