body{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
}

*{
    margin: 0px;
}

#header, .body{ margin: 0px 0px 20px 0px; }
#header{
    background-color: #000000;
    color: #FFFFFF;
    height: 80px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{ width: 100%; }

#searchBar{
    width: 70%;
}

table{
    width: 90%;
    position: relative;
    left: 5%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid #000000;
    height: 30px;
}
th{ background-color: #DDDDDD; }
td{ background-color: #EEEEEE; }

a{ color: #000000; }
a:hover{ color: #555555; }
a:active{ color: #999999; }
a#headLink{ color: #FFFFFF; text-decoration: none; }

.projectName{ width: 60%; }
.projectCategory{ width: 40%; }