body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0px;
    background-color: #EEEEEE;
}

#title{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
}

#title_text{
    font-size: 28px;
    font-weight: bold;
}

.space{
    height: 30px;
}

#project{
    border-collapse: collapse;
}

.project{
    position: relative;
    border: 2px solid #000000;
    width: 90%;
    height: 60px;
    left: 5%;
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
}

.project:hover{
    background-color: #BBBBBB;
}

.project:active{
    background-color: #999999;
}

.project_name{
    margin: 5px 5px 0px 5px;
    font-weight: bold;
    font-size: 24px;
}

.project_desc{
    margin: 0px 5px 5px 5px;
    font-size: 16px;
}