body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0px;
    background-color: #EEEEEE;
}

#title{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
}

#title_text{
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.space{
    height: 10px;
}

.folder{
    background-color: #BBBBBB;
    border-color: #000000;
    cursor: pointer;
}

.folder:hover{
    background-color: #999999;
}

.folder:active{
    background-color: #777777;
}

.project{
    color: #FFFFFF;
    background-color: #222222;
    border-color: #FFFFFF;
    cursor: pointer;
}

.project:hover{
    background-color: #333333;
}

.project:active{
    background-color: #555555;
}

#body{
    display: flex;
    justify-content: center;
    text-align: center;
}

p{
    margin: 0px;
}

.left_align{
    margin: 0px;
    text-align: left;
    display: flex;
    justify-content: center;
    text-align: center;
}

.left_align_flex{
    margin: 0px;
    text-align: left;
}