.folder{
    color: #999999;
    cursor: pointer;
    margin: 0px 0px 10px 0px;
}

.code, .codeblock{ font-family: 'Source Code Pro', monospace; }
.codeblock{
    text-align: left;
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
}