.box{
    background-color: #EEEEEE;
    width: 100px;
    height: 100px;
}
.box:hover{
    background-color: #DDDDDD;
}
.box:active{
    background-color: #BBBBBB;
}

.up{
    border-top: 1px solid black;
}
.down{
    border-bottom: 1px solid black;
}
.right{
    border-right: 1px solid black;
}
.left{
    border-left: 1px solid black;
}

#hide{
    visibility: hidden;
}