body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0px;
    background-color: #EEEEEE;
}

#title{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
}

#title_text{
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.space{
    height: 10px;
}

#body{
    display: flex;
    justify-content: center;
    text-align: center;
}

p{
    margin: 0px;
}

.remark{
    color: #000000;
    cursor: pointer;
}

.remark:hover{
    color: #333333;
    text-decoration: underline;
}

.remark:active{
    color: #555555;
}