*{
    box-sizing: content-box;
    padding: 0px;
}

#board{
    border-collapse: collapse;
}

.map{
    /* background-color: #FFFFFF; */
    border: 1px solid #000000;
}

.hint{
    /* background-color: #DDDDDD; */
}

.map, .hint{
    width: 60px;
    height: 60px;
    position: relative;
    top: 0px; bottom: 0px; left: 0px; right: 0px;
}

.backTag, .frontTag{
    width: 60px;
    height: 60px;
    position: absolute;
    /* border: 1px solid red; */
    top: 0px; bottom: 0px; left: 0px; right: 0px;
}

.borderUp{
    border-top: 2px solid black;
}

.borderDown{
    border-bottom: 2px solid black;
}

.borderLeft{
    border-left: 2px solid black;
}

.borderRight{
    border-right: 2px solid black;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 36px;
}